<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <title>MooveBike</title>
</head>

<body>
    <!--First Part-->
    <section class="first">
        
        <%- include('partials/header.ejs') %>

        <div class="slider">
            <figure>
                <img src="img/background-02-1920x800.jpg" alt="">
                <img src="img/background-03-1920x800.jpg" alt="">
                <img src="img/background-04-1920x800.jpg" alt="">
                <img src="img/background-02-1920x800.jpg" alt="">
            </figure>

            <div class="content">
                <h1>Comece a Pedalar Já</h1><br>
                <h4>Contrate um plano e comece sua trajetória para uma vida mais saudável.</h4><br><br>
                <a href="/planos" class="btn-planos">Nossos Planos</a>
            </div>
    </section>

    <!--Second Section-->
    <section class="second">
        <div class="rules">
            <div class="title">
                <span>Regras Utilização</span>
            </div>
            <hr class="division">

            <div class="boxes-second-section">
                <% rules.forEach((rule) => { %>
                    <div class="box-second">
                        <img class="numbers" src="<%=rule.photo%> " alt="">
                        <h3><%=rule.title%></h3>
                        <hr class="division-insidebox">
                        <p><%=rule.info%></p>
                    </div> 
                <% }) %>
            </div>
        </div> 
    </section>     
    
    <!--Third Section-->
    <section class="third">
        <div class="packages">
            <div class="title">
                <span>Nossos Planos</span>
            </div>
            <hr class="division">

            <div class="boxes-third-section">
                <% packages.forEach((pack) => { %>
                    <div class="box-third">
                        <div class="plano"><%= pack.name %></div>
                        <div class="valor"><%= pack.price %></div>
                        <div class="texto">
                            <span class="periodo"><%= pack.period %></span><br>
                            <span class="aviso">*Checar planos para Moove Elétrica</span>
                        </div>
                        <button class="btn">Comprar Agora!</button>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>

    <!--Fourth Section-->
    <section class="fourth">
        <div class="products">
            <div class="title">
                <span>Nossas MOOVE's</span>
            </div>
            <hr class="division">

            <div class="boxes-fourth-section">
                <% bikes.forEach((bike) => { %>
                    <div class="box-fourth">
                        <div class="text-products">
                            <a href="#"><%=bike.name%></a>
                        </div>
                        <img src="<%=bike.photo%>">
                    </div>
                <% }) %> 
            </div>
        </div>
    </section>
    
 
    <%- include('partials/footer') %>
    

<script src="/js/script.js"></script>
</body>

</html>